@charset "UTF-8";

/**
 * @authors kk
 * @date    2019-03-12
 */

* {
    padding: 0px;
    margin: 0px;
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: '微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
    font-size: 14px;
    cursor: default;
}

ul,
ol,
li {
    list-style: none;
}

button,
a {
    cursor: pointer;
}

textarea {
    resize: none;
}

input,
textarea {
    background: #fff;
}

input::-ms-clear {
    display: none;
}

table {
    border-collapse: collapse;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

[v-cloak] {
    display: none;
}

/*************** common ***************/

.wid_size {
    width: 1000px;
    margin: 0px auto;
}

@media screen and (max-width: 1050px) {
    .wid_size {
        width: auto;
    }
}

.fll {
    float: left;
}

.flr {
    float: right;
}

.no_info {
    text-align: center;
    color: #999;
    font-size: 16px;
    padding: 15px 0px;
}

/*************** btn ***************/

.btn {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    text-align: center;
    width: 90px;
    padding: 8px 0px;
    border: 0px;
    border-radius: 3px;
    transition: all 0.4s;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

/*************** position btn ***************/

.shortcut {
    position: fixed;
    bottom: 90px;
    right: 0px;
    z-index: 999;
}

.shortcut div {
    text-align: center;
    cursor: pointer;
    width: 35px;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
}

.go_top {
    color: #fff;
    font-size: 32px;
}

.go_home {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #cdcdcd;
    color: #999;
    font-size: 25px;
    margin-top: 10px;
}

/*************** footer ***************/

.footer {
    padding: 15px 0px 10px;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.footer li {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding: 0px 30px;
    line-height: 20px;
}

.footer ul li:first-child {
    width: 158px;
    height: 38px;
}

.footer img {
    height: 20px;
    padding: 8px 18px;
    margin-right: 5px;
    border-radius: 3px;
}

@media screen and (max-width: 460px) {
    .footer ul li:first-child {
        display: none;
    }
}