@charset "UTF-8";
/**
 * 
 * @authors zhengy
 * @date    2019-02-25
 * @version $Id$
 */

* {
    padding: 0px;
    margin: 0px;
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: '微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
    font-size: 14px;
    min-width: 1200px;
}

ul,
ol,
li {
    list-style: none;
}

button {
    cursor: pointer;
}

textarea {
    resize: none;
}

input::-ms-clear {
    display: none;
}

table {
    border-collapse: collapse;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

/*************** common ***************/

.wid-120 {
    width: 1200px;
    margin: 0px auto;
}


.flr {
    float: right;
}

.btn {
    background: #0078df;
    color: #fff;
    font-size: 15px;
    text-align: center;
    width: 62px;
    height: 36px;
    line-height: 36px;
    border: 0px;
}

/*************** page ***************/

.page {
    padding: 20px 0px;
    text-align: right;
    cursor: default;
}

.page li {
    display: inline-block;
    border: 1px solid #bbb;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 6px 0px;
    color: #555;
    cursor: pointer;
    margin-left: 3px;
    font-size: 13px;
}

.page li:first-child,
.page li:last-child {
    width: 60px;
}

.page li:hover,
.page li.active {
    background: #0078df;
    color: #fff;
    border: 1px solid #0078df;
}

.page li.active,
.page li.more {
    cursor: default;
}

.page li.more:hover {
    border: 1px solid #bbb;
    color: #555;
    background: #fff;
}