@charset "UTF-8";

/**
 * @authors kk
 * @date    2019-03-16
 */

.header {
    padding: 10px 0px;
}

.header .logo img {
    height: 20px;
    vertical-align: middle;
}

.header li {
    display: inline-block;
    margin: 0px 10px;
}