@charset "UTF-8";

/**
 * tool - date
 * @authors shikkya
 * @date    2019-11-06
 * @version $Id$
 */

html,
body {
    background: #F2F1FA;
}

.btn {
    background: #00cbdb;
    margin-top: 10px;
    width: 85%;
}

/*************** header ***************/

.header .back,
.header .top {
    background: #403a6c;
}

/*************** content ***************/

.today {
    background: #fff;
    color: #555;
    text-align: center;
    padding: 20px;
    font-size: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 20px 20px 20px 0px;
}

.out {
    background: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 25px 0px;
    margin: 20px 20px 0px 0px;
    font-size: 15px;
}

.out:last-child {
    border-bottom-right-radius: 0px;
}

.out .tit {
    margin: 0px 10px 10px;
    color: #403a6c;
    font-weight: bold;
    border-left: 5px solid #403a6c;
    padding-left: 10px;
}

.out .info {
    line-height: 40px;
    text-align: center;
    color: #555;
}

.out input[type="text"] {
    width: 36px;
    padding: 2px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    vertical-align: middle;
    text-align: center;
    color: #888;
    font-size: 15px;
    margin:0px 3px;
}

.out select {
    padding: 2px 3px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    vertical-align: middle;
    text-align: center;
    color: #888;
    font-size: 15px;
    margin:0px 3px;
}

.out span {
    color: #aaa;
}

.out font {
    color: #00cbdb;
    font-weight: bold;
}

.out .error {
    color: #f90;
}

/*************** position btn ***************/

.pos_btn div {
    background: #403a6c;
}