@charset "UTF-8";

/**
 * tool - index
 * @authors shikkya
 * @date    2019-09-16
 * @version $Id$
 */

html,
body {
    background: #F2F1FA;
}

.btn {
    background: #00cbdb;
    margin-top: 10px;
    width: 85%;
}

/*************** header ***************/

.header .back,
.header .top {
    background: #403a6c;
}

/*************** content ***************/

.list ul {
    font-size: 0px;
}

.list li {
    display: inline-block;
    background: #fff;
    font-size: 13px;
    padding: 20px 0px 16px 20px;
    margin-top: 20px;
    width: calc(50% - 39px);
    text-align: center;
}

.list li:nth-child(2n) {
    padding-right: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.list li:last-child {
    border-bottom-right-radius: 0px;
}

.list li img {
    width: 100%;
}

.list li h3 {
    margin-top: 8px;
    font-size: 14px;
    color: #403a6c;
}

/*************** position btn ***************/

.pos_btn div {
    background: #403a6c;
}