@charset "UTF-8";

/**
 * index.html
 * @authors shikkya
 * @date 2023-11-20
 */

.unscroll {
  overflow: hidden;
}

.content {
  padding: 45px 0 15px;
}

.header > div,
.content {
  margin: 0 auto;
  width: calc(100vw - 30px);
  max-width: 1170px;
  min-width: 880px;
}

/* header */

.header {
  width: 100%;
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--color-primary);
  color: #fff;
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  display: flex;
  padding: 5px 0;
}

.header li {
  padding: 0 6px;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.header li:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.header span {
  display: block;
  cursor: pointer;
  padding: 0 6px;
  line-height: 25px;
}

.header span:hover {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 3px;
}

.header input {
  width: 240px;
  line-height: 29px;
  margin: 3px 0;
  padding: 0 12px;
  border: 0;
  border-radius: 3px;
  background: #fff;
  color: #666;
  font-size: 14px;
}

/* list_box */

.list_box .item {
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  margin: 15px 0;
}

.list_box h3,
.list_box p {
  margin: 0;
  color: #333;
  font-size: 16px;
}

.list_box p {
  color: #666;
  font-size: 14px;
  margin-top: 10px;
}

.list_box i {
  display: inline-block;
  background: var(--color-theme);
  color: #fff;
  border-radius: 3px;
  line-height: 18px;
  padding: 0 5px;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  margin-right: 10px;
}

.list_box div {
  position: relative;
}

.list_box button {
  position: absolute;
  right: 15px;
  top: 12px;
  z-index: 1;
  line-height: 28px;
  padding: 0 12px;
  background: var(--color-theme);
  border: 0;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.list_box pre {
  background: #eee;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 15px;
  margin-top: 15px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Source Code Pro", "DejaVu Sans Mono", "Ubuntu Mono", "Anonymous Pro", "Droid Sans Mono", Menlo, Monaco,
    Consolas, Inconsolata, Courier, monospace, "PingFang SC", "Microsoft YaHei", sans-serif;
  white-space: pre-wrap;
}

.list_box a {
  color: #0076da;
  cursor: cursor;
}

.list_box a:hover {
  background: rgba(255, 255, 255, 0.8);
}

.list_box font {
  color: #6a9949;
}

/* catalog common */

.catalog_header {
  line-height: 45px;
  position: relative;
  font-size: 16px;
  border-bottom: 1px solid var(--color-border);
}

.catalog_header a {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  padding: 0 5px;
  cursor: pointer;
}

.catalog_content {
  padding: 15px 0;
}

.catalog_list {
  overflow: auto;
}

.catalog_list ul {
  margin-top: 15px;
}

.catalog_list ul:first-child {
  margin-top: 0;
}

.catalog_list li {
  display: flex;
  align-items: center;
  line-height: 28px;
}

.catalog_list i {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--color-theme);
  margin: 0 15px 0 3px;
}

.catalog_list a {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.catalog_list a:hover {
  color: var(--color-theme);
}

/* catalog_drawer */

.catalog_drawer_show_btn {
  position: fixed;
  left: 0;
  top: 50%;
  z-index: 100;
  transform: translate(0, -50%);
  background: var(--color-theme);
  color: #fff;
  writing-mode: vertical-rl;
  border-radius: 0 8px 8px 0;
  padding: 10px 3px 5px;
  cursor: pointer;
  letter-spacing: 5px;
}

.catalog_drawer {
  width: calc(50vw - 601px);
  max-width: 300px;
  position: fixed;
  left: 0;
  top: 60px;
  z-index: 100;
  background: #fff;
  border-radius: 0 8px 8px 0;
  padding: 0 15px;
  display: none;
}

.catalog_drawer .catalog_list {
  max-height: calc(100vh - 150px);
}

@media (max-width: 1500px) {
  .catalog_drawer_show_btn,
  .catalog_drawer {
    display: none !important;
  }
}

/* catalog_modal */

.catalog_modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.catalog_modal > div {
  width: 460px;
  margin: 60px auto 0;
  background: #fff;
  border-radius: 8px;
  padding: 0 15px;
}

.catalog_modal .catalog_header {
  text-align: center;
}

.catalog_modal .catalog_list {
  max-height: calc(100vh - 190px);
}
