<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit"> <!-- 360浏览器兼容 默认开启极速模式 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>模板壁纸-SHIKKYA</title>
    <link rel="shortcut icon" href="../../images/ico/ico_01.ico" />
    <link rel="stylesheet" type="text/css" href="../../../plugins/iconfont/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/wallpaper/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/wallpaper/make.css" />
</head>

<body>
    <div id="app" v-cloak>
        <div class="header">
            <div class="wid_size">
                <a href="./index.html" class="logo">
                    <img src="../../images/common_07.png"/>
                </a>
                <span>{{tit}}</span>
                <a href="./list.html" class="btn fr">前往图库</a>
            </div>
        </div>
        <div class="content" id="content">
            <div class="wid_size">
                <div class="left">
                    <div class="tit">选择尺寸</div>
                    <ul class="size_list">
                        <li v-for="item in sizeList" :class="{active:curSizeId==item.id}" @click="changeSize(item.id)">
                            <span>{{item.wid}} × {{item.hei}}</span>
                        </li>
                    </ul>
                    <div class="tit">选择模板</div>
                    <ul class="template_list">
                        <li v-for="item in 3" :class="{active:curTemplateId==item}" @click="changeTemplate(item)">
                            <img src="../../images/wallpaper_04.png" :data-src="'../../images/wallpaper_make/' + item + '.png'"/>
                            </li>
                    </ul>
                </div>
                <div class="right">
                    <div class="step">
                        <div class="line"></div>
                        <ul>
                            <li>
                                <span>01</span>
                                <p>选择壁纸尺寸</p>
                            </li>
                            <li>
                                <span>02</span>
                                <p>选择心仪模板</p>
                            </li>
                            <li>
                                <span>03</span>
                                <p>上传本地图片</p>
                            </li>
                            <li>
                                <span>04</span>
                                <p>下载合成壁纸</p>
                            </li>
                        </ul>
                    </div>
                    <div class="view">
                        <img :src="'../../images/wallpaper_make/' + curTemplateId + '_' + curSizeText + '.png'" class="template_img" />
                        <img :src="curImgSrc" class="bg_img" />
                        <img src="../../images/wallpaper_09.gif" v-if="loadState == 1" class="load_img"/>
                    </div>
                        <div class="btn_out">
                            <p>为保证最好的合成效果 请按照左侧选择的尺寸上传图片</p>
                            <input type="file" name="imgfile" id="imgFile" onchange="uploadImg(this)" />
                            <label for="imgFile" class="upload_btn btn">上传本地图片</label>
                            <span v-if="loadState == 1" class="load_btn btn">壁纸合成中...</span>
                            <span v-else class="download_btn btn" @click="downloadImg">下载合成壁纸</span>
                        </div>
                    </div>
                </div>
                <canvas id="imgCanvas" :width="sizeList[curSizeId-1].wid" :height="sizeList[curSizeId-1].hei"></canvas>
            </div>
            <pos-btn-item></pos-btn-item>
            <footer-item></footer-item>
        </div>
        <!-- <canvas id="imgCanvas" width="1920" height="1080"></canvas> -->
        <script src="../../../plugins/vue/vue.min.js"></script>
        <script src="../../script/common.js"></script>
        <script src="../../script/wallpaper/make.js"></script>
</body>

</html>