@charset "UTF-8";

/**
 * index.html
 * @authors shikkya
 * @date    2020-05-11
 * @version $Id$
 */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #333;
    font-family: "微软雅黑";
    font-size: 16px;
    text-align: center;
}

.search_box {
    display: inline-block;
    position: relative;
    padding: 50px 0px;
}

.search_box input {
    background: #fff;
    color: #666;
    border: 0px;
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 5px;
    width: 230px;
    outline: none;
}

.search_box button {
    background: #09f;
    color: #fff;
    border: 0px;
    font-size: 16px;
    padding: 7.5px 12px;
    border-radius: 5px;
    margin-left: 5px;
}

.search_box ul {
    position: absolute;
    margin-top: 2px;
    background: #fff;
    border-radius: 5px;
    width: 260px;
    list-style: none;
    display: none;
}

.search_box li {
    border-top: 1px dashed #e0e0e0;
    padding: 6px 15px;
    text-align: left;
    color: #666;
}

.search_box li:first-child {
    display: none;
}

.search_box li:nth-child(2) {
    border: 0px;
}

.search_box li.active {
    color: #09f;
    background: #F2F8FD;
}