@charset "UTF-8";

/**
 * zPage
 * @authors shikkya
 * @date    2020-04-24
 * @version $Id$
 */

.zPage {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  padding: 12px 0;
  font-size: 14px;
  color: #333;
}

.zPage * {
  outline: none;
  text-shadow: none;
  box-shadow: none;
  cursor: default;
  vertical-align: middle;
  box-sizing: border-box;
}

.zPage .zPage_page_box button {
  background: #fff;
  color: #888;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  line-height: 28px;
  padding: 0 12px;
  margin: 0 4px;
  font-size: 13px;
  cursor: pointer;
}

.zPage_2 .zPage_page_box button {
  border-left: 0;
  border-radius: 0;
  margin: 0;
}

.zPage_2 .zPage_page_box button:first-child {
  border-left: 1px solid #e0e0e0;
}

.zPage_3 .zPage_page_box button {
  border: none;
  background: transparent;
  padding: 0 5px;
}

.zPage_4 .zPage_page_box button {
  background: -webkit-linear-gradient(top, #f2f3f7, #e4e8ec);
  background: -moz-linear-gradient(top, #f2f3f7, #e4e8ec);
  background: linear-gradient(top, #f2f3f7, #e4e8ec);
  box-shadow: 0 1px 2px #fff inset, 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}

.zPage .zPage_page_box button.cur_page,
.zPage .zPage_page_box button:hover {
  color: #fff;
  border: 1px solid #4ca4ef;
  background: #4ca4ef;
}

.zPage_2 .zPage_page_box button.cur_page,
.zPage_2 .zPage_page_box button:hover {
  border-left: 0;
}

.zPage_3 .zPage_page_box button.cur_page,
.zPage_3 .zPage_page_box button:hover {
  background: transparent;
  color: #4ca4ef;
  border: none;
  border-bottom: 2px solid #4ca4ef;
}

.zPage_4 .zPage_page_box button.cur_page,
.zPage_4 .zPage_page_box button:hover {
  background: -webkit-linear-gradient(top, #67b4f6, #1e81d5);
  background: -moz-linear-gradient(top, #67b4f6, #1e81d5);
  background: linear-gradient(top, #67b4f6, #1e81d5);
}

.zPage .zPage_page_box button.no_allowed,
.zPage .zPage_page_box button.no_allowed:hover {
  cursor: not-allowed;
  color: #ccc;
  background: #fff;
  border: 1px solid #e0e0e0;
}

.zPage_2 .zPage_page_box button.no_allowed,
.zPage_2 .zPage_page_box button.no_allowed:hover {
  border-left: 0;
}

.zPage_2 .zPage_page_box button.no_allowed:first-child,
.zPage_2 .zPage_page_box button.no_allowed:first-child:hover {
  border-left: 1px solid #e0e0e0;
}

.zPage_3 .zPage_page_box button.no_allowed,
.zPage_3 .zPage_page_box button.no_allowed:hover {
  background: transparent;
  border: none;
}

.zPage_4 .zPage_page_box button.no_allowed,
.zPage_4 .zPage_page_box button.no_allowed:hover {
  background: -webkit-linear-gradient(top, #f2f3f7, #e4e8ec);
  background: -moz-linear-gradient(top, #f2f3f7, #e4e8ec);
  background: linear-gradient(top, #f2f3f7, #e4e8ec);
}

.zPage .zPage_page_box span {
  margin-left: 10px;
}

.zPage_2 .zPage_page_box span {
  margin-left: 14px;
}

.zPage .zPage_skip_box {
  margin-left: 30px;
}

.zPage .zPage_skip_box input {
  color: #888;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  width: 36px;
  line-height: 24px;
  padding: 0;
  margin: 0 5px;
  text-align: center;
  cursor: text;
}

.zPage .zPage_skip_box button {
  background: #4ca4ef;
  color: #fff;
  border: none;
  border-radius: 2px;
  line-height: 26px;
  padding: 0 10px;
  margin-left: 10px;
  font-size: 13px;
  cursor: pointer;
}

.zPage_4 .zPage_skip_box button {
  background: -webkit-linear-gradient(top, #67b4f6, #1e81d5);
  background: -moz-linear-gradient(top, #67b4f6, #1e81d5);
  background: linear-gradient(top, #67b4f6, #1e81d5);
  box-shadow: 0 1px 2px #fff inset, 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}

.zPage .zPage_skip_box button:hover {
  opacity: 0.85;
}

.zPage .zPage_size_box {
  margin-left: 30px;
}

.zPage .zPage_size_box select {
  color: #888;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  padding: 4px 5px;
  cursor: pointer;
}
