@charset "UTF-8";

/**
 * code
 * @authors shikkya
 * @date    2019-07-13
 * @version $Id$
 */

/*************** picture list ***************/

.picture ul {
    font-size: 0px;
}

.picture li {
    display: inline-block;
    font-size: 12px;
    color: #506a85;
    position: relative;
    width: calc(33.3% - 42px);
    margin: 0px 0px 40px 30px;
    border: 1px solid #e0e0e0;
    padding: 10px 10px 15px;
    cursor: pointer;
}

.picture li:hover {
    background: #E8FAFD;
}

.picture ul li:nth-child(3n+1) {
    margin-left: 0px;
}

.picture li img {
    width: 100%;
}

.picture li h3 {
    margin: 10px 0px 12px;
    font-size: 15px;
    width: 100%;
    color: #506a85;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.picture li i {
    font-size: 16px;
    color: #888;
}

.picture li span {
    border: 1px solid #e0e0e0;
    margin-left: 8px;
    background: #fff;
    padding: 0px 8px 2px;
}

@media screen and (max-width: 850px) {

    .picture li,
    .picture ul li:nth-child(3n+1) {
        width: calc(50% - 33px);
        margin: 0px 0px 40px 20px;
    }

    .picture ul li:nth-child(2n+1) {
        margin-left: 0px;
    }
}