@charset "UTF-8";

/**
 * code - detail
 * @authors shikkya
 * @date    2019-07-16
 * @version $Id$
 */

/*************** header ***************/

.header_detail {
    background: #506a85;
    border-bottom: 15px solid #3E5872;
}

/*************** content ***************/

.content {
    color: #666;
    font-size: 16px;
    padding-top: 75px;
    padding-bottom: 10px;
    min-height: calc(100vh - 155px);
}

.out {
    font-size: 0px;
    padding-top: 50px;
    position: relative;
}

.left,
.right {
    display: inline-block;
    vertical-align: top;
}

.left {
    width: 300px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    margin-right: 40px;
}

.left img {
    width: 100%;
}

.right {
    width: calc(100% - 362px);
    font-size: 16px;
}

.right h3 {
    font-size: 22px;
    color: #506a85;
    margin-top: 6px;
}

.right .tag {
    margin: 25px 0px;
}

.right .tag i {
    font-size: 16px;
    color: #888;
}

.right .tag span {
    font-size: 14px;
    border: 1px solid #e0e0e0;
    margin-left: 8px;
    padding: 0px 8px 2px;
}

.right .btn_out {
    position: absolute;
    bottom: 15px;
}

.right .btn_out .btn {
    margin-right: 15px;
    padding: 10px 0px;
    width: 105px;
    font-size: 16px;
}

.tit {
    border-left: 6px solid #506a85;
    color: #506a85;
    padding-left: 10px;
    background: rgba(171, 199, 227, 0.1);
    margin: 35px 0px 25px;
}

.compatible ul {
    font-size: 0px;
}

.compatible li {
    width: 100px;
    display: inline-block;
    text-align: center;
    padding: 10px 0px;
    margin: 12px 10px;
    font-size: 16px;
    background: #fff;
    border-radius: 3px;
    position: relative;
}

.compatible .com_0 {
    background: #FFF2F0;
}

.compatible .com_1 {
    background: #E7F5ED;
}

.compatible .com_0,
.compatible .com_1 {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.compatible .com_0:after,
.compatible .com_1:after {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.compatible .com_0:after {
    content: "\e62b";
    color: #FF8370;
}

.compatible .com_1:after {
    content: "\e63d";
    color: #00BC9C;
}

.compatible img {
    width: 48px;
    height: 48px;
}

.intro {
    margin-bottom: 50px;
}

.intro .info {
    line-height: 26px;
}

.intro .info p {
    text-indent: 32px
}

@media screen and (max-width: 1150px) {

    .compatible li {
        width: 94px;
    }
}

@media screen and (max-width: 850px) {

    .left {
        display: none;
    }

    .right {
        width: 100%;
    }

    .right .btn_out {
        position: relative;
        bottom: 0px;
    }

    .compatible li {
        width: 100px;
    }
}