@charset "UTF-8";

/**
 * @authors kk
 * @date    2019-07-13
 */

/*************** header ***************/

.header {
    background: #fff;
    width: 100%;
    height: 20px;
    overflow: hidden;
    padding: 20px 0px;
    position: fixed;
    top: 0px;
    z-index: 998;
}

.header .logo img {
    height: 20px;
    vertical-align: middle;
}

.header .search {
    margin-top: -3px;
}

.header input {
    padding: 6px 10px;
    font-size: 14px;
    color: #666;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    width: 210px;
}

.header .btn {
    font-size: 14px;
    padding: 5px 0px;
    width: 60px;
    margin-left: 5px;
}

/*************** content ***************/

.content {
    padding: 140px 0px 20px;
}

.top {
    color: #fff;
    padding: 12px 0px;
    background: #506a85;
    border-bottom: 5px solid #fff;
    width: 100%;
    position: fixed;
    top: 60px;
    z-index: 998;
    font-size: 14px;
}

.type li {
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    padding: 1px 8px;
}

.type li.active,
.type li:hover {
    background: #6d8399;
}

.result_num {
    /*border-left: 1px solid #738ca6;*/
    padding: 1px 0px 1px 23px;
    height: 21px;
    overflow: hidden;
}

.key_word {
    border-left: 1px solid #738ca6;
    padding-left: 15px;
}

.key_word div {
    padding: 1px 6px 1px 8px;
    height: 21px;
    overflow: hidden;
    background: #6d8399;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
}

.key_word span {
    display: inline-block;
    max-width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.key_word i {
    margin-left: 8px;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    top: -4px;
}

.no_info {
    padding: 50px 0px;
}

@media screen and (max-width: 1150px) {
    .key_word span {
        max-width: 160px;
    }
}

@media screen and (max-width: 850px) {
    .key_word span {
        max-width: 90px;
    }

    .result_num {
        display: none;
    }
}