@charset "UTF-8";

/**
 * index.html
 * @authors shikkya
 * @date 2024-09-01
 */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  padding: 1.5rem;
  -moz-user-select: none;
  user-select: none;
}

input,
textarea,
select {
  font-size: 1.5rem;
}

input {
  border: 0.1rem solid #eee;
  border-radius: 0.5rem;
  line-height: 3rem;
  padding: 0 1.2rem;
}

.btn {
  border: 0.1rem solid var(--color-theme);
  line-height: 3.2rem;
  border-radius: 0.5rem;
  padding: 0 1.2rem;
  font-size: 1.5rem;
}

i {
  font-style: normal;
  font-size: 1.3rem;
  padding: 0 0.8rem;
  border-radius: 1rem;
  background: #ddd;
  color: #fff;
}

i[data-v="1"] {
  background: #7792a1;
}

i[data-v="2"] {
  background: #61c2ff;
}

i[data-v="3"] {
  background: #0da039;
}

i[data-v="4"] {
  background: #945974;
}

i[data-v="5"] {
  background: #5edde7;
}

i[data-v="6"] {
  background: #0da039;
}

i[data-v="7"] {
  background: #94d555;
}

/******************** filter_box ********************/

.filter_box {
  padding: 1rem 1.5rem;
  background: #fff;
  border-radius: 0.8rem;
  margin-bottom: 1.5rem;
}

.filter_item {
  padding: 0.5rem 0 0.5rem 7rem;
  position: relative;
}

.filter_item label {
  position: absolute;
  left: 0;
  top: 1.2rem;
}

.filter_item:nth-child(4) label {
  top: 0.6rem;
}

.filter_item input {
  width: 100%;
}

.filter_item span {
  display: inline-block;
  width: 3.6rem;
  height: 2rem;
  border-radius: 5rem;
  background: #ddd;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

.filter_item span:after {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 0.2rem;
  top: 0.2rem;
  z-index: 1;
}

.filter_item span.active {
  background: var(--color-theme);
  text-align: right;
}

.filter_item span.active:after {
  left: initial;
  right: 0.2rem;
}

.filter_box .btn {
  width: 100%;
  margin: 0.5rem 0;
}

/******************** catalog_box ********************/

.catalog_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 1rem 1.5rem;
  background: #fff;
  border-radius: 0.8rem;
  margin-bottom: 1.5rem;
}

.catalog_box div {
  width: 33.3%;
  text-align: center;
  padding: 0.5rem 0;
  cursor: pointer;
}

.catalog_box i {
  margin-right: 0.5rem;
}

/******************** week_box ********************/

.week_box {
  padding: 2.5rem 1.5rem 1.5rem;
  background: #fff;
  border-radius: 0.8rem;
}

.week_box .tr {
  border-top: 0.1rem solid #eee;
}

.week_box .th,
.week_box .td {
  display: inline-block;
  width: calc(100% / 7);
  text-align: center;
}

.week_box .th {
  background: #eee;
  line-height: 3rem;
}

.week_box .td {
  font-size: 2rem;
  padding: 1.2rem 0;
}

.week_box .td[data-t="relax"] {
  color: #ff2f00;
}
