@charset "UTF-8";

/**
 * index.html
 * @authors shikkya
 * @date    2019-12-11
 * @version $Id$
 */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #328F8F;
    font-family: "微软雅黑";
    text-align: center;
}

.select_out {
    display: inline-block;
    position: relative;
    margin: 80px 6px;
    vertical-align: top;
}

.select_out input[type="text"] {
    background: url(../images/icon_01.png) no-repeat #fff;
    background-position: calc(100% - 8px) center;
    color: #666;
    border: 1px solid #328F8F;
    border-radius: 5px;
    font-size: 15px;
    width: 150px;
    padding: 8px 25px 8px 8px;
    cursor: pointer;
}

.select_out input[type="text"].active {
    background: url(../images/icon_02.png) no-repeat #fff;
    background-position: calc(100% - 8px) center;
    color: #328F8F;
}

.select_out ul {
    position: absolute;
    z-index: 990;
    background: #fff;
    width: calc(100% - 2px);
    border: 1px solid #328F8F;
    border-top: none;
    border-radius: 5px;
    text-align: left;
    max-height: 184px;
    overflow-y: auto;
    display: none;
}

.select_out li {
    border-top: 1px dashed #e0e0e0;
    padding: 8px;
    color: #666;
    font-size: 15px;
    cursor: pointer;
}

.select_out li:first-child {
    border-top: none;
}

.select_out li.active,
.select_out li:hover {
    color: #328F8F;
}