@charset "UTF-8";

/**
 * home - index
 * @authors shikkya
 * @date    2019-09-04
 * @version $Id$
 */

body {
    background: url('../../images/home_01.png') no-repeat;
    background-size: 100% 100%;
}

.app {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
}

/*************** header ***************/

.header {
    text-align: center;
    color: #fff;
    padding: 10px 0px 12px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.35);
    border-top: 8px solid rgba(183, 155, 105, 0.8);
}

.header img {
    height: 15px;
    margin-top: 6px;
    padding: 3px 10px;
    border-radius: 3px;
    background: rgba(183, 155, 105, 0.8);
}

/*************** content ***************/

.content {
    font-size: 0px;
    padding-top: calc(50vh - 62vw - 45px);
}

.type {
    width: 37.5vw;
    height: 37.5vw;
    border-radius: 50%;
    position: relative;
}

.type_0 {
    margin-left: 10vw;
}

.type_1 {
    margin-top: 5vw;
    margin-left: 52.5vw;
}

.type_2 {
    display: inline-block;
    margin-top: 5vw;
    margin-left: 10vw;
}

.type_more {
    display: inline-block;
    margin-top: 5vw;
    margin-left: 5vw;
}

.type img,
.type a {
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 0.8s;
}

.type img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 1;
}

.type_0 img.active {
    margin-left: 42.5vw;
}

.type_1 img.active {
    margin-left: -42.5vw;
}

.type_2 img.active {
    margin-top: -42.5vw;
}

.type a {
    display: inline-block;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    line-height: calc(37.5vw - 8px);
    border-radius: 50%;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: 3px solid rgba(255, 255, 255, 0.9);
    font-size: 18px;
    z-index: 0;
}

.type img.active+a {
    background: rgba(255, 255, 255, 0.35);
    border: 3px solid rgba(255, 255, 255, 0);
}