<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>便易工具-SHIKKYA</title>
    <link rel="stylesheet" type="text/css" href="../../plugins/font-awesome/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/tool/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/tool/date.css" />
</head>

<body>
    <div id="app" v-cloak>
        <div class="header">
            <div class="wid_size">
                <a :href="headerObj.homeUrl" class="logo"><img :src="headerObj.logoImg"/></a>
                <a :href="headerObj.goListUrl" class="btn flr">{{headerObj.goListBtn}}</a>
            </div>
        </div>
        <div class="content" id="content">
            <div class="tit">
                <h1>{{tit}}</h1>
                <p>今天是 {{todayObj.year}}年 {{todayObj.month}}月 {{todayObj.day}}日 阴历 {{todayObj.lunarY}}年 {{todayObj.lunarM}}月 {{todayObj.lunarD}}</p>
                <!-- <p>快速计算圆周率小数点后指定位数的值，<font :class="{error:errorClass}">请输入小于等于1000的正整数</font></p> -->
            </div>
            <div class="out">
                <ul>
                    <li>
                        <h3>天数计算</h3>
                        <p>从<input type="text" v-model="inputVal_2" />年<input type="text" v-model="inputVal_2" />月<input type="text" v-model="inputVal_2" />日</p>
                        <p>到<input type="text" v-model="inputVal_2" />年<input type="text" v-model="inputVal_2" />月<input type="text" v-model="inputVal_2" />日</p>
                        <p>共计？天 ？月？天 ？周？天</p>
                    </li>
                    <li>
                        <h3>日期推算</h3>
                        <p>与<input type="text" v-model="inputVal_2" />年<input type="text" v-model="inputVal_2" />月<input type="text" v-model="inputVal_2" />日</p>
                        <p>相差<input type="text" v-model="inputVal_2" />天（输入负数向前推算）</p>
                        <p>是？年？月？日星期？</p>
                    </li>
                    <li>
                        <h3>阴阳历转换</h3>
                        <p>阴历<input type="text" v-model="inputVal_2" />年<input type="text" v-model="inputVal_2" />月<input type="text" v-model="inputVal_2" />日</p>
                        <p>阳历<input type="text" v-model="inputVal_2" />年<input type="text" v-model="inputVal_2" />月<input type="text" v-model="inputVal_2" />日</p>
                    </li>
                </ul>
            </div>
        </div>
        <go-top-item></go-top-item>
        <footer-item></footer-item>
    </div>
    <script src="../../plugins/vue/vue.min.js"></script>
    <script src="../../script/common.js"></script>
    <script src="../../script/tool/date.js"></script>
</body>

</html>