@charset "UTF-8";

/**
 * code - detail
 * @authors shikkya
 * @date    2019-10-09
 * @version $Id$
 */

html,
body {
    background: #F1F6FA;
}

/*************** header ***************/

.header .back,
.header .top {
    background: #506a85;
}

/*************** content ***************/

.out {
    background: #fff;
    margin: 20px 20px 0px 0px;
    padding: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.content>.out:last-child {
    border-bottom-right-radius: 0px;
}

.main {
    color: #888;
    position: relative;
}

.main img {
    width: 100%;
    border-radius: 5px;
}

.main h3 {
    color: #506a85;
    margin: 10px 0px;
}

.main .tag i {
    font-size: 14px;
}

.main .tag span {
    border: 1px solid #e0e0e0;
    padding: 1px 6px;
    margin-left: 7px;
    font-size: 12px;
    border-radius: 1px;
}

.main .btn {
    position: absolute;
    bottom: 10px;
    right: -20px;
    background: #00bc9c;
    font-size: 15px;
    padding: 10px 0px 10px 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.tit {
    color: #506a85;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 10px -10px;
}

.tit i {
    display: inline-block;
    width: 5px;
    height: 18px;
    vertical-align: bottom;
    background: #506a85;
    margin-right: 10px;
    border-radius: 3px;
}

.compatible ul {
    font-size: 0px;
}

.compatible li {
    width: calc(33% - 19px);
    display: inline-block;
    text-align: center;
    padding: 10px 0px;
    margin: 12px 10px;
    font-size: 16px;
    background: #fff;
    border-radius: 3px;
    position: relative;
}

.compatible .com_0 {
    background: #FFF2F0;
}

.compatible .com_1 {
    background: #E7F5ED;
}

.compatible .com_0,
.compatible .com_1 {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.compatible .com_0:after,
.compatible .com_1:after {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.compatible .com_0:after {
    content: "\e62b";
    color: #FF8370;
}

.compatible .com_1:after {
    content: "\e63d";
    color: #00BC9C;
}

.compatible img {
    width: 48px;
    height: 48px;
}

.intro .info {
    color: #888;
    font-size: 15px;
    line-height: 22px;
}

.intro .info p {
    margin: 3px 0px;
}

/*************** position btn ***************/

.pos_btn div {
    background: #506a85;
}