@charset "UTF-8";

/**
 * code - index
 * @authors shikkya
 * @date    2019-10-08
 * @version $Id$
 */

html,
body {
    background: #F1F6FA;
}

.btn {
    background: #00bc9c;
    margin-top: 10px;
    width: 85%;
}

/*************** header ***************/

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 999;
}

.header .back,
.header .top {
    display: inline-block;
    vertical-align: top;
}

.header .back {
    width: 30px;
    height: 30px;
    line-height: 28px;
    font-size: 16px;
    text-align: center;
    background: #506a85;
    color: #fff;
    border-radius: 50%;
    margin: 15px 10px;
}

.header .top {
    background: #506a85;
    color: #fff;
    border-bottom-left-radius: 15px;
    padding: 15px 0px 15px 25px;
    width: calc(100% - 80px);
}

.header .top p {
    font-size: 13px;
    margin-top: 5px;
}

/*************** content ***************/

.content {
    padding-top: 73px;
}

.list ul {
    background: #fff;
    margin: 20px 20px 0px 0px;
    padding: 2px 0px;
    border-top-right-radius: 15px;
}

.list li {
    margin: 0px 20px;
    padding: 20px 10px 20px 100px;
    position: relative;
    min-height: 50px;
    border-top: 1px dashed #e0e0e0;
}

.list li:first-child {
    border-top: 0px;
}

.list li img {
    width: 85px;
    position: absolute;
    left: 0px;
    border: 1px solid #eee;
}

.list li h3,
.list li p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list li h3 {
    color: #506a85;
    font-size: 15px;
    margin-bottom: 9px;
}

.list li p {
    color: #999;
    height: 20px;
}

.list li i {
    font-size: 14px;
}

.list li span {
    font-size: 12px;
    margin-left: 5px;
    border: 1px solid #eee;
    padding: 0px 5px;
}

/*************** position btn ***************/

.pos_btn div {
    background: #506a85;
}