@charset "UTF-8";

/**
 * code - index
 * @authors shikkya
 * @date    2019-10-08
 * @version $Id$
 */

html,
body {
    background: #F1F6FA;
}

.btn {
    background: #00bc9c;
    margin-top: 10px;
    width: 85%;
}

/*************** header ***************/

.header .back,
.header .top {
    background: #506a85;
}

/*************** content ***************/

.list ul {
    background: #fff;
    margin: 20px 20px 0px 0px;
    padding: 2px 0px;
    border-top-right-radius: 15px;
}

.list li {
    margin: 0px 20px;
    padding: 20px 0px 20px 140px;
    position: relative;
    min-height: 70px;
    border-top: 1px dashed #e0e0e0;
}

.list li:first-child {
    border-top: 0px;
}

.list li .pic {
    width: 125px;
    position: absolute;
    left: 0px;
}

.list li img {
    width: 100%;
}

.list li h3 {
    color: #506a85;
    font-size: 16px;
    margin-bottom: 8px;
    line-height: 20px;
}

.list li p {
    color: #888;
    height: 20px;
}

.list li i {
    font-size: 14px;
    color: #999;
}

.list li span {
    font-size: 12px;
    margin-left: 6px;
    border: 1px solid #cdcdcd;
    padding: 0px 5px;
}

/*************** position btn ***************/

.pos_btn div {
    background: #506a85;
}