@charset "UTF-8";

/**
 * wallpaper
 * @authors shikkya
 * @date    2019-03-18
 * @version $Id$
 */

/*************** picture list ***************/

.picture ul {
    font-size: 0px;
}

.picture li {
    display: inline-block;
    font-size: 12px;
    color: #506a85;
    position: relative;
    width: calc(33.3% - 20px);
    margin: 0px 0px 40px 30px;
}

.picture ul li:nth-child(3n+1) {
    margin-left: 0px;
}

.picture li img {
    width: 100%;
}

.picture li h3 {
    margin: 8px 0px 3px;
    font-size: 15px;
}

.picture li .btn {
    position: absolute;
    right: 0px;
    bottom: 3px;
    font-size: 13px;
}

@media screen and (max-width: 850px) {

    .picture li,
    .picture ul li:nth-child(3n+1) {
        width: calc(50% - 10px);
        margin: 0px 0px 40px 20px;
    }

    .picture ul li:nth-child(2n+1) {
        margin-left: 0px;
    }
}