@charset "UTF-8";

/**
 * wallpaper - index
 * @authors shikkya
 * @date    2019-03-16
 * @version $Id$
 */

 /*************** header ***************/

.header .product li.active a,
.header .product li a:hover {
    color: #00bc9c;
    border-bottom: 2px solid #00bc9c;
}

 /*************** content ***************/

.content {
    padding-top: 60px;
}

.top {
    color: #fff;
    position: relative;
    font-size: 16px;
    background: #506a85;
    text-align: center;
    min-height: 360.9px;
}

.top img {
    width: 100%;
}

.top div {
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -90px;
}

.top h1 {
    font-size: 40px;
    letter-spacing: 10px;
}

.top p {
    margin: 35px 0px;
    letter-spacing: 2px;
}

.top .btn {
    width: 180px;
    padding: 15px 0px;
    font-size: 16px;
}

.picture {
    margin-bottom: 20px;
}

.picture .tit {
    text-align: center;
    color: #506a85;
    margin: 40px 0px;
}

.picture .tit p {
    margin: 15px 0px;
    font-size: 16px;
    color: #888;
}

.picture .tit a {
    color: #00bc9c;
    margin: 0px 2px;
    padding: 0px 3px;
    border-radius: 3px;
    transition: all 0.4s;
}

.picture .tit a:hover {
    background: #dcf1ed;
}

@media screen and (max-width: 1150px) {
    .top {
        overflow: hidden;
    }

    .top img {
        min-height: 370px;
    }

    .top h1 {
        font-size: 33px;
    }

    .top p {
        margin: 30px auto;
        letter-spacing: 0px;
    }
}

@media screen and (max-width: 850px) {
    .top img {
        width: auto;
        height: 370px;
    }

    .top h1 {
        letter-spacing: 0px;
    }
}