@charset "UTF-8";

/**
 * wallpaper - make
 * @authors shikkya
 * @date    2019-11-08
 * @version $Id$
 */

/*************** header ***************/

.header {
    background: #506a85;
    border-bottom: 15px solid #375575;
}

.header span {
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    vertical-align: middle;
    margin-left: 18px;
    padding-left: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.header .btn {
    font-size: 12px;
    padding: 6px 0px;
    margin-top: -1px;
}

/*************** content ***************/

.content {
    color: #666;
    font-size: 16px;
    padding-top: 75px;
    min-height: calc(100vh - 155px);
    font-size: 0px;
}

.left,
.right {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    margin: 50px 0px;
}

.left {
    width: 180px;
    padding: 20px;
    border: 1px dashed #e0e0e0;
}

.left .tit {
    border-left: 6px solid #506a85;
    color: #506a85;
    padding-left: 10px;
    background: rgba(171, 199, 227, 0.1);
    margin-bottom: 20px;
}

.left li {
    cursor: pointer;
    position: relative;
}

.size_list {
    margin-bottom: 15px;
}

.size_list li {
    padding: 4px 15px;
    margin-top: 6px;
    color: #333;
    position: relative;
}

.size_list li:first-child {
    margin-top: 0px;
}

.size_list li.active,
.size_list li:hover {
    background: #E7F5ED;
}

.size_list li.active:after {
    content: url('../../images/wallpaper_08.png');
    position: absolute;
    top: 4px;
    right: 15px;
}

.template_list li {
    padding: 0px;
    margin-top: 12px;
    position: relative;
}

.template_list li:first-child {
    margin-top: 0px;
}

.template_list li.active:after {
    content: url('../../images/wallpaper_08.png');
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.template_list img {
    width: 100%;
}

.right {
    width: calc(100% - 242px);
    margin-left: 20px;
}

.step {
    position: relative;
}

.step .line {
    width: 75%;
    height: 1px;
    border-top: 1px dashed #00bc9c;
    margin-left: 12.5%;
    position: relative;
    top: 26px;
    z-index: 0;
}

.step ul {
    font-size: 0px;
    position: relative;
    z-index: 1;
}

.step li {
    display: inline-block;
    font-size: 15px;
    width: 25%;
    text-align: center;
}

.step span {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #00bc9c;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
}

.step p {
    margin-top: 10px;
    color: #666;
}

.view {
    position: relative;
    margin: 20px 0px;
}

.view .template_img {
    width: 100%;
    position: relative;
    z-index: 1;
}

.view .bg_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.view .load_img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15.5px;
    margin-left: -15.5px;
}

.btn_out {
    text-align: center;
}

.btn_out p {
    margin-bottom: 20px;
    color: #f90;
    font-size: 14px;
}

.btn_out .btn {
    font-size: 16px;
    padding: 10px 0px;
    width: 135px;
    margin: 0px 10px;
}

.right input[type="file"],
canvas {
    display: none;
}

@media screen and (max-width: 1150px) {

    .left {
        width: 160px;
    }

    .right {
        width: calc(100% - 222px);
    }
}

@media screen and (max-width: 850px) {

    .left,
    .right {
        display: block;
        width: auto;
        margin: 40px 0px;
    }

    .size_list li,
    .template_list li {
        display: inline-block;
        margin: 0px 0px 0px 20px;
    }

    .size_list li {
        width: calc(33% - 42px);
    }

    .template_list li {
        width: calc(33% - 12px);
    }

    .size_list li:nth-child(3n+1),
    .template_list li:nth-child(3n+1) {
        margin-left: 0px;
    }
}