@charset "UTF-8";

/**
 * @authors kk
 * @date    2019-04-01
 */


/*************** header ***************/

.header {
    background: #fff;
    width: 100%;
    height: 20px;
    overflow: hidden;
    padding: 20px 0px;
    position: fixed;
    top: 0px;
    z-index: 998;
}

.header .logo img {
    height: 20px;
    vertical-align: middle;
}

.header li {
    display: inline-block;
    margin: 0px 0px 0px 22px;
    height: 20px;
    line-height: 20px;
}

.header li a {
    color: #506a85;
    font-size: 15px;
    border-bottom: 1px solid #fff;
    padding: 0px 2px;
    transition: all 0.4s;
}

.header li.active a,
.header li a:hover {
    color: #00cbdb;
    border-bottom: 2px solid #00cbdb;
}

@media screen and (max-width: 600px) {
    .header .logo {
        display: none;
    }

    .header ul {
        float: none;
        text-align: center;
    }

    .header li {
        margin: 0px 5px;
    }
}

/*************** content ***************/

.content {
    padding-top: 60px;
}

.top {
    color: #fff;
    position: relative;
    font-size: 16px;
    background: #403A6C;
    min-height: 370px;
}

.top img {
    width: 100%;
}

.top div {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -90px;
}

.top h1 {
    font-size: 40px;
    letter-spacing: 10px;
}

.top p {
    margin: 35px 0px;
    letter-spacing: 2px;
}

.top .btn {
    width: 180px;
    padding: 15px 0px;
    font-size: 16px;
}

.out {
    margin-bottom: 20px;
    position: relative;
}

.out .toolList {
    position: absolute;
    top: -65px;
}

.out .tit {
    text-align: center;
    color: #403a6c;
    margin: 40px 0px;
}

.out .tit p {
    margin: 15px 0px;
    font-size: 16px;
    color: #888;
}

.out ul {
    font-size: 0px;
}

.out li {
    display: inline-block;
    width: calc(33.3% - 40px);
    height: 290px;
    padding: 10px;
    margin: 0px 0px 35px 30px;
    color: #888;
    font-size: 14px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    transition: all 0.4s;
}

.out li:hover {
    background: #EFEDF8;
}

.out ul li:nth-child(3n+1) {
    margin-left: 0px;
}

.out li img {
    width: 100%;
    margin-bottom: 3px;
}

.out li h3 {
    margin: 8px 0px;
    font-size: 18px;
    color: #403a6c;
}

.out li p {
    line-height: 20px;
}

@media screen and (max-width: 1000px) {
    .top {
        height: 343px;
        overflow: hidden;
    }

    .top img {
        width: auto;
        height: 100%;
    }

    .top h1 {
        font-size: 30px;
        letter-spacing: 0px;
    }

    .top p {
        width: 90%;
        margin: 30px auto;
        letter-spacing: 0px;
    }

    .out li {
        height: calc(33.3vw - 40px);
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 840px) {

    .out li,
    .out ul li:nth-child(3n+1) {
        width: calc(50% - 25px);
        margin: 0px 0px 20px 0px;
        height: auto;
    }

    .out ul li:nth-child(2n+1) {
        margin-left: 5px;
    }

    .out ul li:nth-child(2n) {
        margin-right: 5px;
    }

    .out li p {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .top {
        height: 220px;
        min-height: 220px;
    }

    .top div {
        margin-top: -40px;
    }

    .top h1 {
        font-size: 25px;
    }

    .top p {
        display: none;
    }

    .top .btn {
        width: 100px;
        padding: 8px 0px;
        font-size: 14px;
        margin-top: 20px;
    }

    .out .tit {
        margin: 20px 0px;
    }

    .out .tit h1,
    .out .tit p {
        display: none;
    }

    .out li,
    .out ul li:nth-child(3n+1) {
        margin-bottom: 5px;
    }

    .out li h3 {
        font-size: 15px;
    }
}