/**
 * index.html
 * @authors shikkya
 * @date    2019-08-15
 * @version $Id$
 */

body {
    background: #fff;
    text-align: center;
    padding: 50px 0px;
}

span {
    font-size: 40px;
    color: #445cb8;
}

button {
    background: #445cb8;
    color: #fff;
    padding: 8px 12px;
    border: 0px;
    border-radius: 3px;
    margin: 20px 2px;
    cursor: pointer;
    font-size: 14px;
}