@charset "UTF-8";

/**
 * @authors kk
 * @date    2019-03-12
 */

* {
    padding: 0px;
    margin: 0px;
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: '微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
    font-size: 14px;
    cursor: default;
    min-width: 1000px;
}

ul,
ol,
li {
    list-style: none;
}

button,
a {
    cursor: pointer;
}

textarea {
    resize: none;
}

input,
textarea {
    background: #fff;
}

input::-ms-clear {
    display: none;
}

table {
    border-collapse: collapse;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

[v-cloak] {
    display: none;
}

/*************** common ***************/

.wid_size {
    width: 1100px;
    margin: 0px auto;
}

@media screen and (max-width: 1150px) {

    html,
    body {
        min-width: 800px;
    }

    .wid_size {
        width: 800px;
    }
}

@media screen and (max-width: 850px) {

    html,
    body {
        min-width: 600px;
    }

    .wid_size {
        width: 600px;
    }
}

.fll {
    float: left;
}

.flr {
    float: right;
}

/*************** scrollbar ***************/

/* 整体 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* 凹槽 */
::-webkit-scrollbar-track-piece {
    background-color: #eee;
}

/* 滚动条 */
::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
}

/*************** btn ***************/

.btn {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    text-align: center;
    width: 90px;
    padding: 8px 0px;
    border: 0px;
    border-radius: 3px;
    transition: all 0.4s;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

/*************** position btn ***************/

.shortcut {
    position: fixed;
    bottom: 90px;
    right: 0px;
    z-index: 999;
}

.shortcut div {
    text-align: center;
    cursor: pointer;
    width: 35px;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
}

.go_top {
    color: #fff;
    font-size: 23px;
}

.go_home {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #cdcdcd;
    color: #999;
    font-size: 25px;
    margin-top: 10px;
}

/*************** no_info ***************/

.no_info {
    text-align: center;
    color: #999;
    font-size: 16px;
}

.no_info img {
    width: 140px;
}

/*************** footer ***************/

.footer {
    padding: 15px 0px 10px;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.footer li {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding: 0px 30px;
    line-height: 20px;
}

.footer ul li:first-child {
    width: 158px;
    height: 38px;
}

.footer img {
    height: 20px;
    padding: 8px 18px;
    margin-right: 5px;
    border-radius: 3px;
}