<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit"> <!-- 360浏览器兼容 默认开启极速模式 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>便易工具-SHIKKYA</title>
    <link rel="shortcut icon" href="../../images/ico/ico_02.ico" />
    <link rel="stylesheet" type="text/css" href="../../../plugins/iconfont/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/tool/cdn.css" />
</head>

<body>
    <div id="app" class="theme_1" v-cloak>
        <header-detail-item></header-detail-item>
        <div class="content" id="content">
            <div class="tit">
                <h1>{{tit}}</h1>
            </div>
            <div class="wid_size">
                <div class="nav">
                    <a v-for="item in cdnData" :href="'#'+item.tit">{{item.tit}}<font class="fr">{{item.list.length}}</font></a>
                </div>
                <div class="info" v-for="item in cdnData">
                    <div :id="item.tit" class="info_nav"></div>
                    <div class="info_tit">
                        <span>{{item.tit}}<font>({{item.list.length}})</font></span>
                    </div>
                    <div class="info_list" v-for="obj in item.list">
                        <span>{{obj.url}}</span>
                        <font>{{obj.version}}</font>
                        <button class="btn fr" @click="copyHtml(this,obj)">复制标签</button>
                        <button class="btn fr" @click="copyUrl(this,obj.url)">复制链接</button>
                    </div>
                </div>
            </div>
        </div>
        <input type="text" class="copy_text" id="copyText" v-model="inputVal" />
        <div class="alert_info" v-show="alertShow">复制成功</div>
        <pos-btn-item></pos-btn-item>
        <footer-item></footer-item>
    </div>
    <script src="../../../plugins/vue/vue.min.js"></script>
    <script src="../../script/common.js"></script>
    <script src="../../script/tool/cdn.js"></script>
</body>

</html>