<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit"> <!-- 360浏览器兼容 默认开启极速模式 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>便易工具-SHIKKYA</title>
    <link rel="shortcut icon" href="../../images/ico/ico_02.ico" />
    <link rel="stylesheet" type="text/css" href="../../../plugins/iconfont/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/tool/date.css" />
</head>

<body>
    <div id="app" class="theme_1" v-cloak>
        <header-detail-item></header-detail-item>
        <div class="content" id="content">
            <div class="top">
                <p>今天是 {{todayObj.year}}年 {{todayObj.month}}月 {{todayObj.day}}日 星期{{todayObj.week}} {{todayObj.lunarY}}年 {{todayObj.lunarM}}月 {{todayObj.lunarD}}</p>
            </div>
            <div class="out wid_size">
                <ul>
                    <li>
                        <h3>{{dayObj.tit}}</h3>
                        <div>
                            <form name="dayStartFrm">
                                从
                                <select name="year" v-model="dayStartSelect.year"></select>
                                年
                                <select name="month" v-model="dayStartSelect.month"></select>
                                月
                                <select name="day" v-model="dayStartSelect.day"></select>
                                日
                            </form>
                        </div>
                        <div>
                            <form name="dayEndFrm">
                                到
                                <select name="year" v-model="dayEndSelect.year"></select>
                                年
                                <select name="month" v-model="dayEndSelect.month"></select>
                                月
                                <select name="day" v-model="dayEndSelect.day"></select>
                                日
                            </form>
                        </div>
                        <p>相差 <font>{{dayObj.result_1}}</font> 天 ( <font>{{dayObj.result_2}}</font> 周 <font>{{dayObj.result_3}}</font> 天 )</p>
                    </li>
                    <li>
                        <h3>{{dateObj.tit}}</h3>
                        <div>
                            <form name="dateFrm">
                                与
                                <select name="year" v-model="dateSelect.year"></select>
                                年
                                <select name="month" v-model="dateSelect.month"></select>
                                月
                                <select name="day" v-model="dateSelect.day"></select>
                                日
                            </form>
                        </div>
                        <p>相差 <input type="text" v-model="dateObj.num" /> 天（输入负数向前推算）</p>
                        <p>是 <font>{{dateObj.result_1}}</font> 年 <font>{{dateObj.result_2}}</font> 月 <font>{{dateObj.result_3}}</font> 日 星期 <font>{{dateObj.result_4}}</font>
                        </p>
                        <span :class="{error:errorClass}">注：请输入整数</span>
                    </li>
                </ul>
            </div>
        </div>
        <pos-btn-item></pos-btn-item>
        <footer-item></footer-item>
    </div>
    <script src="../../../plugins/vue/vue.min.js"></script>
    <script src="../../script/common.js"></script>
    <script src="../../script/tool/date.js"></script>
</body>

</html>