<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>便易工具-SHIKKYA</title>
    <link rel="shortcut icon" href="../../images/ico/tool.ico" />
    <link rel="stylesheet" type="text/css" href="../../../plugins/iconfont/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/tool/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/tool/date.css" />
</head>

<body>
    <div id="app" v-cloak>
        <header-detail-item></header-detail-item>
        <div class="content" id="content">
            <div class="tit">
                <h1>{{tit}}</h1>
                <p>今天是 {{todayObj.year}}年 {{todayObj.month}}月 {{todayObj.day}}日 星期{{todayObj.week}} 阴历 {{todayObj.lunarY}}年 {{todayObj.lunarM}}月 {{todayObj.lunarD}}</p>
                <p>快速计算圆周率小数点后指定位数的值，<font :class="{error:errorClass}">请输入小于等于1000的正整数</font></p>
            </div>
            <div class="out">
                <ul>
                    <li>
                        <h3>{{dayObj.tit}}</h3>
                        <div>
                            <form name="dayStartFrm">
                                从
                                <select name="year" v-model="dayStartSelect.year"></select>
                                年
                                <select name="month" v-model="dayStartSelect.month"></select>
                                月
                                <select name="day" v-model="dayStartSelect.day"></select>
                                日
                            </form>
                        </div>
                        <div>
                            <form name="dayEndFrm">
                                到
                                <select name="year" v-model="dayEndSelect.year"></select>
                                年
                                <select name="month" v-model="dayEndSelect.month"></select>
                                月
                                <select name="day" v-model="dayEndSelect.day"></select>
                                日
                            </form>
                        </div>
                        <p>相差 {{dayObj.result_1}} 天 ( {{dayObj.result_2}} 周 {{dayObj.result_3}} 天 )</p>
                    </li>
                    <li>
                        <h3>{{dateObj.tit}}</h3>
                        <div>
                            <form name="dateFrm">
                                与
                                <select name="year" v-model="dateSelect.year"></select>
                                年
                                <select name="month" v-model="dateSelect.month"></select>
                                月
                                <select name="day" v-model="dateSelect.day"></select>
                                日
                            </form>
                        </div>
                        <p>相差<input type="text" v-model="dateObj.num" />天（输入负数向前推算）</p>
                        <p>是 {{dateObj.result_1}} 年 {{dateObj.result_2}} 月 {{dateObj.result_3}} 日 星期{{dateObj.result_4}}</p>
                    </li>
                    <li>
                        <h3>{{lunarTit}}</h3>
                        <div>
                            <form name="lunarYinFrm">
                                阴历
                                <select name="year" v-model="lunarYinSelect.year"></select>
                                年
                                <select name="month" v-model="lunarYinSelect.month"></select>
                                月
                                <select name="day" v-model="lunarYinSelect.day"></select>
                                日
                            </form>
                        </div>
                        <div>
                            <form name="lunarYangFrm">
                                阳历
                                <select name="year" v-model="lunarYangSelect.year"></select>
                                年
                                <select name="month" v-model="lunarYangSelect.month"></select>
                                月
                                <select name="day" v-model="lunarYangSelect.day"></select>
                                日
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <pos-btn-item></pos-btn-item>
        <footer-item></footer-item>
    </div>
    <script src="../../../plugins/vue/vue.min.js"></script>
    <script src="../../script/common.js"></script>
    <script src="../../script/tool/date.js"></script>
</body>

</html>