<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit"> <!-- 360浏览器兼容 默认开启极速模式 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>便易工具-SHIKKYA</title>
    <link rel="shortcut icon" href="../../images/ico/tool.ico" />
    <link rel="stylesheet" type="text/css" href="../../../plugins/iconfont/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/tool/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/tool/keycode.css" />
</head>

<body>
    <div id="app" v-cloak>
        <header-detail-item></header-detail-item>
        <div class="content" id="content">
            <div class="tit">
                <h1>{{tit}}</h1>
            </div>
            <div class="out wid_size">
                <div class="list_tit">键码值双向查询</div>
                <div class="search">
                    <div>
                        <p :class="{error:errorClass}">请输入小于等于195的正整数</p>
                        <input type="text" v-model="inputVal" id="num"/> 对应按键是 <span>{{result}}</span>
                    </div>
                    <div>
                        <p>您刚刚按了 ( 按键 键码 ) </p>
                        <span v-html="resultKeyDown"></span>
                    </div>
                </div>
                <div class="list_tit">字母对应键码值</div>
                <ul class="list_out">
                    <li v-for="item in 26">
                        <div>{{keyCodeArr[item+64]}}</div>
                        <div>{{item+64}}</div>
                    </li>
                </ul>
                <div class="list_tit">数字对应键码值</div>
                <ul class="list_out">
                    <li v-for="item in 10">
                        <div>{{keyCodeArr[item+47]}}</div>
                        <div>{{item+47}}</div>
                    </li>
                </ul>
                <div class="list_tit">小键盘键码值</div>
                <ul class="list_out">
                    <li v-for="item in 10">
                        <div>{{keyCodeArr[item+95]}}</div>
                        <div>{{item+95}}</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[111]}}</div>
                        <div>111</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[106]}}</div>
                        <div>106</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[109]}}</div>
                        <div>109</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[107]}}</div>
                        <div>107</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[110]}}</div>
                        <div>110</div>
                    </li>
                    <li class="li_wid">
                        <div>{{keyCodeArr[144]}}</div>
                        <div>144</div>
                    </li>
                </ul>
                <div class="list_tit">其他键码值</div>
                <ul class="list_out">
                    <li>
                        <div>{{keyCodeArr[27]}}</div>
                        <div>27</div>
                    </li>
                    <li v-for="item in 12">
                        <div>{{keyCodeArr[item+111]}}</div>
                        <div>{{item+111}}</div>
                    </li>
                </ul>
                <ul class="list_out">
                    <li v-for="item in 4">
                        <div>{{keyCodeArr[item+36]}}</div>
                        <div>{{item+36}}</div>
                    </li>
                </ul>
                <ul class="list_out">
                    <li>
                        <div>{{keyCodeArr[192]}}</div>
                        <div>192</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[189]}}</div>
                        <div>189</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[187]}}</div>
                        <div>187</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[219]}}</div>
                        <div>219</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[221]}}</div>
                        <div>221</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[186]}}</div>
                        <div>186</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[222]}}</div>
                        <div>222</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[220]}}</div>
                        <div>220</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[188]}}</div>
                        <div>188</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[190]}}</div>
                        <div>190</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[191]}}</div>
                        <div>191</div>
                    </li>
                </ul>
                <ul class="list_out ul_wid">
                    <li>
                        <div>{{keyCodeArr[16]}}</div>
                        <div>16</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[17]}}</div>
                        <div>17</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[18]}}</div>
                        <div>18</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[13]}}</div>
                        <div>13</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[32]}}</div>
                        <div>32</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[8]}}</div>
                        <div>8</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[9]}}</div>
                        <div>9</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[20]}}</div>
                        <div>20</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[145]}}</div>
                        <div>145</div>
                    </li>
                </ul>
                <ul class="list_out ul_wid">
                    <li>
                        <div>{{keyCodeArr[45]}}</div>
                        <div>45</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[46]}}</div>
                        <div>46</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[36]}}</div>
                        <div>36</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[35]}}</div>
                        <div>35</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[33]}}</div>
                        <div>33</div>
                    </li>
                    <li>
                        <div>{{keyCodeArr[34]}}</div>
                        <div>34</div>
                    </li>
                </ul>
            </div>
        </div>
        <pos-btn-item></pos-btn-item>
        <footer-item></footer-item>
    </div>
    <script src="../../../plugins/vue/vue.min.js"></script>
    <script src="../../script/common.js"></script>
    <script src="../../script/tool/keycode.js"></script>
</body>

</html>