@charset "UTF-8";

/**
 * index.html
 * @authors shikkya
 * @date 2023-07-11
 */

body {
  -moz-user-select: none;
  user-select: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: var(--color-bg);
}

.content {
  padding-top: 115px;
}

/******************** filter_box ********************/

.filter_box {
  padding: 5px 15px;
  background: #fff;
  border-radius: 8px;
  margin: 15px;
}

.filter_item {
  padding: 5px 0 5px 45px;
  position: relative;
}

.filter_item label {
  position: absolute;
  left: 0;
  top: 11px;
}

.filter_item ul {
  padding: 2px 0;
}

.filter_item li {
  display: inline-block;
  border-radius: 5px;
  padding: 4px 6px;
  margin-left: 3px;
  cursor: pointer;
}

.filter_item li:first-child {
  margin: 0;
}

.filter_item li.active {
  background: var(--color-theme);
  color: #fff;
}

.filter_item input {
  width: 100%;
  line-height: 32px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 0 12px;
}

/******************** list_box ********************/

.list_box {
  padding: 5px 15px;
  background: #fff;
  border-radius: 8px;
  margin: 15px;
}

.list_box .no_data {
  color: #aaa;
  text-align: center;
  padding: 5px 0;
}

.list_box div {
  background: var(--color-theme);
  color: #fff;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

.list_box i {
  display: inline-block;
  border-radius: 2px;
  border-top: 6px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-top: 6px;
}

.list_box div.active i {
  border-bottom: 6px solid #fff;
  border-top: 0;
}

.list_box li {
  padding: 3px 8px;
}
