<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>模板壁纸-SHIKKYA</title>
    <link rel="shortcut icon" href="../../images/ico/ico_01.ico" />
    <link rel="stylesheet" type="text/css" href="../../../plugins/iconfont/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/wallpaper/index.css" />
</head>

<body>
    <div id="app" v-cloak>
        <header-item :obj="headerObj"></header-item>
        <div class="content">
            <div class="list">
                <ul>
                    <template v-for="(item,index) in picList.length">
                        <li v-if="index%3==0">
                            <div>
                                <img src="../../images/wallpaper_01.png" :data-src="'../../images/wallpaper_small/' + picList[index].img"/>
                                <a class="btn" :href="'../../images/wallpaper/' + picList[index].img"  download="">下载</a>
                            </div>
                            <div v-if="index+1<picList.length">
                                <img src="../../images/wallpaper_01.png" :data-src="'../../images/wallpaper_small/' + picList[index+1].img"/>
                                <a class="btn" :href="'../../images/wallpaper/' + picList[index+1].img"  download="">下载</a>
                            </div>
                            <div v-if="index+2<picList.length">
                                <img src="../../images/wallpaper_01.png" :data-src="'../../images/wallpaper_small/' + picList[index+2].img"/>
                                <a class="btn" :href="'../../images/wallpaper/' + picList[index+2].img"  download="">下载</a>
                            </div>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
        <pos-btn-item></pos-btn-item>
    </div>
    <script src="../../../plugins/vue/vue.min.js"></script>
    <script src="../../script/common.js"></script>
    <script src="../../script/wallpaper/index.js"></script>
</body>

</html>