@charset "UTF-8";

/**
 * index.html
 * @authors shikkya
 * @date    2019-10-28
 * @version $Id$
 */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #EFF3F3;
    font-family: "微软雅黑";
    text-align: center;
    padding-top: 50px;
}

.wrap {
    text-align: center;
    color: #888;
    padding: 15px 0px;
}

h2 {
    color: #666;
}

img {
    width: 150px;
    margin-top: 15px;
    border-radius: 5px;
}

button,
button:hover,
button:focus,
button:active {
    background: #f90;
    color: #fff;
    border: 0px;
    padding: 8px 15px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
}