@charset "UTF-8";

/**
 * wallpaper - index
 * @authors shikkya
 * @date    2019-08-29
 * @version $Id$
 */

html,
body {
    background: #F1F6FA;
}

.btn {
    background: #00bc9c;
    margin-top: 10px;
    width: 85%;
}

/*************** header ***************/

.header .back,
.header .top {
    background: #506a85;
}

/*************** content ***************/

.list ul {
    font-size: 0px;
}

.list li {
    display: inline-block;
    background: #fff;
    font-size: 13px;
    padding: 20px 0px 20px 20px;
    margin-top: 20px;
    width: calc(33.3% - 33px);
    text-align: center;
}

.list li:nth-child(3n) {
    padding-right: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.list li:last-child {
    border-bottom-right-radius: 0px;
}

.list li img {
    width: 100%;
}

/*************** position btn ***************/

.pos_btn div {
    background: #506a85;
}