@charset "UTF-8";

/**
 * common
 * @authors shikkya
 * @date    2019-08-29
 * @version $Id$
 */

* {
    padding: 0px;
    margin: 0px;
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: '微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
    font-size: 14px;
    background: #fff;
}

ul,
ol,
li {
    list-style: none;
}

button,
a {
    cursor: pointer;
}

textarea {
    resize: none;
}

input,
select,
textarea {
    background: #fff;
}

input::-ms-clear {
    display: none;
}

table {
    border-collapse: collapse;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

[v-cloak] {
    display: none;
}

/*************** common ***************/

.fl {
    float: left;
}

.fr {
    float: right;
}

.fc {
    clear: both;
}

.btn {
    display: inline-block;
    color: #fff;
    font-size: 13px;
    text-align: center;
    width: 80px;
    padding: 5px 0px;
    border: 0px;
    border-radius: 50px;
}

.content {
    padding-top: 73px;
    font-size: 15px;
}

/*************** header ***************/

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    width: 100%;
}

.header .back,
.header .top {
    display: inline-block;
    vertical-align: top;
}

.header .back {
    width: 33px;
    height: 33px;
    line-height: 31px;
    font-size: 17px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    margin: 19px 11px 0px;
}

.header .top {
    color: #fff;
    border-bottom-left-radius: 15px;
    padding: 15px 0px 15px 25px;
    width: calc(100% - 80px);
}

.header .top p {
    font-size: 13px;
    margin-top: 5px;
}

/*************** position btn ***************/

.pos_btn {
    position: fixed;
    bottom: 50px;
    right: 0px;
    z-index: 999;
    text-align: right;
}

.pos_btn div {
    width: 14px;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #fff;
    padding: 0px 12px;
    font-size: 18px;
}

.pos_btn .go_top {
    display: inline-block;
    line-height: 32px;
}

.pos_btn .go_contact {
    margin-top: 12px;
    transition: all 0.8s;
}

.pos_btn span {
    margin-left: 10px;
    font-size: 15px;
}