<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>模板壁纸-SHIKKYA</title>
    <link rel="stylesheet" type="text/css" href="../../plugins/font-awesome/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/wallpaper/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/wallpaper/index.css" />
</head>

<body>
    <div id="header" class="header" v-cloak>
        <div class="wid_size">
            <a :href="homeUrl" class="logo">
                <img :src="logoImg"/>
            </a>
            <ul class="flr">
                <li v-for="(item,index) in list" :class="{active:index==1}">
                    <a :href="item.url" target="_blank">{{item.text}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="content" class="content" v-cloak>
        <go-top-item></go-top-item>
        <div class="top">
            <img src="../../images/wallpaper_06.png" :data-src="topObj.img"/>
            <div>
                <h1>{{topObj.tit}}</h1>
                <p>{{topObj.text}}</p>
                <a href="list.html" class="btn">进入图库</a>
            </div>
        </div>
        <div class="picture wid_size">
            <div class="tit">
                <h1>{{picObj.tit}}</h1>
                <p v-html="picText"></p>
            </div>
            <div class="info">
                <ul>
                    <pic-item :item="item" v-for="item in picObj.list"></pic-item>
                </ul>
            </div>
        </div>
    </div>
    <div id="footer" class="footer" v-cloak></div>
    <script src="../../plugins/vue/vue.min.js"></script>
    <script src="../../script/common.js"></script>
    <script src="../../script/wallpaper/common.js"></script>
    <script src="../../script/wallpaper/index.js"></script>
</body>

</html>