@charset "UTF-8";

/**
 * index.html
 * @authors shikkya
 * @date 2023-08-08
 */

.content {
  padding: 0 15px 15px;
}

.content > div {
  padding: 15px;
  background: #fff;
  border-radius: 8px;
  margin-top: 15px;
}

.item {
  padding: 5px 0 5px 80px;
  color: #888;
  position: relative;
}

.item label {
  color: #333;
  position: absolute;
  left: 0;
  top: 13px;
}

.item .datepicker {
  width: 100%;
}

.item input {
  width: 100%;
  line-height: 36px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 0 12px;
}

.item > span {
  line-height: 36px;
}

.item_btn {
  padding: 5px 0;
}

.item_btn .btn {
  width: 100%;
}

.content > div:first-child .item:nth-child(3) label {
  letter-spacing: 7.5px;
}
