@charset "UTF-8";

/**
 * @authors kk
 * @date    2019-03-18
 */

html,
body {
    background: #fff;
}

.btn {
    background: #EFC34B;
}

/*************** position btn ***************/

.go_top {
    background: rgba(64, 58, 108, 0.9);
    border: 1px solid #403a6c;
}

/*************** footer ***************/

.footer {
    background: #302a5a;
    border-bottom: 15px solid #221e45;
}

.footer ul li:first-child {
    border-right: 1px solid #6f6b8f;
}

.footer img {
    background: #403a6c;
    border: 1px solid #6f6b8f;
}