@charset "UTF-8";

/**
 * tool - date
 * @authors shikkya
 * @date    2019-04-11
 * @version $Id$
 */

.content {
    color: #666;
    font-size: 16px;
    padding-top: 75px;
    min-height: calc(100vh - 155px);
}

.top {
    color: #403a6c;
    text-align: center;
    padding: 50px 0px;
    font-size: 16px;
}

.out {
    line-height: 45px;
    text-align: center;
    font-size: 0px;
}

.out li {
    display: inline-block;
    vertical-align: top;
    padding: 25px 0px 35px;
    border: 1px dashed #e0e0e0;
    border-radius: 3px;
    width: calc(50% - 17px);
    font-size: 16px;
    min-height: 235px;
}

.out li:first-child {
    margin-right: 30px;
}

.out h3 {
    color: #403a6c;
    font-size: 21px;
    margin-bottom: 10px;
}

.out input[type="text"] {
    width: 36px;
    padding: 2px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    vertical-align: middle;
    text-align: center;
    color: #666;
    font-size: 15px;
}

.out select {
    padding: 2px 3px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    vertical-align: middle;
    text-align: center;
    color: #666;
    font-size: 15px;
}

.out span {
    color: #aaa;
}

.out font,
.error {
    color: #f90;
}