@charset "UTF-8";

/**
 * tool - ruler
 * @authors shikkya
 * @date    2019-04-02
 * @version $Id$
 */

.content {
    padding-top: 105px;
    min-height: calc(100vh - 185px);
}

.tit {
    text-align: center;
    color: #403a6c;
    margin: 50px 0px;
}

.tit p {
    margin: 15px 0px;
    font-size: 16px;
    color: #888;
}

.ruler {
    font-size: 0px;
    padding-top: 10px;
    text-align: center;
}

.ruler img {
    vertical-align: top;
    height: 35.95mm;
}

.intro {
    text-align: center;
    color: #666;
    font-size: 15px;
    line-height: 28px;
    padding: 50px 0px;
}