@charset "UTF-8";

/**
 * @authors kk
 * @date    2019-04-02
 */


/*************** header ***************/

.header {
    background: #58508D;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 998;
    border-bottom: 15px solid #403a6c;
    height: 20px;
    padding: 20px 0px;
    overflow: hidden;
}

.header .logo img {
    height: 20px;
    vertical-align: middle;
}

.header .btn {
    font-size: 12px;
    padding: 6px 0px;
    margin-top: -1px;
}

/*************** content ***************/

.content {
    padding-top: 105px;
}

.tit {
    text-align: center;
    color: #403a6c;
    margin: 50px 0px;
}

.tit p {
    margin: 15px 0px;
    font-size: 16px;
    color: #888;
}

.ruler {
    font-size: 0px;
    padding-top: 10px;
    text-align: center;
}

.ruler img {
    vertical-align: top;
    height: 35.95mm;
}

.intro {
    text-align: center;
    color: #666;
    font-size: 15px;
    line-height: 28px;
    padding: 50px 0px;
}