@charset "UTF-8";

/**
 * tool - stopwatch
 * @authors shikkya
 * @date    2019-04-08
 * @version $Id$
 */

.content {
    font-size: 16px;
    padding-top: 90px;
    text-align: center;
    min-height: calc(100vh - 210px);
}

.tit {
    margin: 20px 0px;
    color: #403a6c;
}

.out .btn {
    width: 52px;
    margin: 0px 3px;
    font-size: 14px;
    padding: 5px 0px;
}

.out .disable {
    background: #ddd;
    color: #999;
    cursor: default;
}

.clock {
    width: 250px;
    height: 250px;
    margin: 20px auto;
    background: url('../../images/tool_06.png') no-repeat;
    position: relative;
    color: #aaa;
    line-height: 42px;
}

.clock p:first-child {
    color: #333;
    font-size: 26px;
    padding-top: 94px;
}

.clock img {
    position: absolute;
    top: 0px;
    left: 0px;
}

.list {
    color: #333;
    width: 352px;
    margin: 25px auto 40px;
    overflow: auto;
}

.list li {
    padding: 10px 15px;
    text-align: right;
}

.list li:nth-child(odd) {
    background: #E9F7F8;
}

.list span {
    color: #999;
    margin-right: 25px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}