@charset "UTF-8";

/**
 * index.html
 * @authors shikkya
 * @date    2019-10-25
 * @version $Id$
 */

* {
  margin: 0;
  padding: 0;
}

body {
  background: #494a5f;
  color: #d5d6e2;
  font-family: "微软雅黑";
  text-align: center;
  padding-top: 50px;
}

.wrap {
  padding: 35px 20px;
  display: inline-block;
}

h2 {
  margin-bottom: 20px;
}

input {
  width: 200px;
  padding: 6px 15px;
  border-radius: 5px;
  background: #fff;
  border: 0px;
  font-size: 16px;
  color: #333;
  outline: none;
  cursor: pointer;
}
