@charset "UTF-8";

/**
 * common
 * @authors shikkya
 * @date 2024-07-08
 */

:root {
  --color-theme: #00bc9c;
  --color-primary: #506a85;
  --color-border: #e0e0e0;
  --color-bg: #e3eaf2;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--color-bg);
  color: #333;
  font-weight: normal;
  font-size: 1.6rem;
  font-family: "微软雅黑", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: default;
}

a,
a:hover {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

i {
  font-style: normal;
}

ol,
ul,
li {
  list-style: none;
}

input,
textarea,
select {
  background: #fff;
  color: #666;
  font-size: 1.6rem;
}

input::-ms-clear {
  display: none;
}

textarea {
  resize: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/******************** common ********************/

.fr {
  float: right;
}

.fl {
  float: left;
}

.btn {
  display: inline-block;
  background: var(--color-theme);
  color: #fff;
  border: 0.1rem solid var(--color-theme);
  line-height: 4rem;
  border-radius: 0.8rem;
  padding: 0 1.5rem;
  font-size: 1.8rem;
  text-align: center;
  cursor: pointer;
}

/******************** scroll ********************/

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0);
}

/******************** modal ********************/

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_dialog {
  width: calc(100% - 4rem);
  background: #fff;
  border-radius: 0.8rem;
  position: absolute;
  left: 50%;
  top: 45%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.modal_header {
  line-height: 5rem;
  padding: 0 2rem;
  border-bottom: 0.1rem solid var(--color-border);
}

.modal_content {
  padding: 2rem;
}

.modal_footer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 2rem 2rem;
}

.modal_footer .btn {
  width: calc(50% - 1rem);
  line-height: 3.6rem;
  font-size: 1.6rem;
}

.modal_footer .btn:last-child {
  background: #fff;
  color: var(--color-theme);
}

/******************** msgBox ********************/

.msgBox {
  position: fixed;
  bottom: 20%;
  left: 0;
  z-index: 999;
  width: 100%;
  text-align: center;
}

.msgBox span {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0.5rem 1.2rem;
  border-radius: 0.8rem;
}

/******************** versionBox ********************/

.versionBox {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 999;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.3);
}
