@charset "UTF-8";

/**
 * index.html
 * @authors shikkya
 * @date    2020-03-07
 * @version $Id$
 */

* {
    margin: 0;
    padding: 0;
    box-shadow: none;
    text-shadow: none;
    outline: none;
}

html,
body {
    width: 100%;
    background: #fff;
    font-family: "微软雅黑";
    font-size: 16px;
    color: #888;
    cursor: default;
}

input,
textarea {
    background: #fff;
}

.not-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.content {
    min-width: 350px;
    max-width: 520px;
    margin: 0px auto;
    padding: 0px 10px;
    position: relative;
}

/******************** 标题 ********************/

.detail_tit h2 {
    font-size: 18px;
    text-align: center;
    padding: 20px 0px;
    color: #333;
}

/******************** 搜索 ********************/

.detail_search_out {
    height: 53px;
}

.detail_search {
    background: #fff;
    position: relative;
    top: 0px;
    padding: 10px 0px;
}

.detail_search>div {
    border: 1px solid #ddd;
    padding: 5px 212px 5px 10px;
}

.detail_search input {
    width: 100%;
    border: 0px;
    font-size: 15px;
    color: #666;
}

.detail_search>div div {
    position: absolute;
    right: 10px;
    top: 15px;
    color: #ccc;
    font-size: 15px;
}

.detail_search font {
    margin: 0px 2px;
}

.detail_search a {
    display: inline-block;
    color: #FA8919;
    padding: 0px 3px;
    font-size: 15px;
    cursor: pointer;
}

.detail_search a.search_btn {
    margin: 0px 5px;
}

/******************** 正文 ********************/

.detail_info {
    padding: 10px 0px;
}

.detail_info p {
    margin: 12px 0px;
}

.detail_info .p_tit {
    font-weight: bold;
    color: #333;
}

.detail_info p .s_keyword {
    background: #FFFF00;
}

.detail_info p .s_keyword.active {
    background: #FF9632;
}

/******************** 返回顶部 ********************/

.go_top {
    position: fixed;
    right: 0px;
    bottom: 50px;
    z-index: 995;
    background: #fff;
    border: 1px solid #ddd;
    color: #FA8919;
    padding: 1px 5px;
    font-size: 13px;
    cursor: pointer;
}